@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    font-family: 'Kanit', sans-serif;
    font-size: 20px ;
    letter-spacing:1px ;
    width: 1000px;
   
}
.container{
    align-items: center;
}
.topic{
    background-color: rgb(250, 231, 201);
    padding: 2%;
    font-family: 'Kanit', sans-serif;
  
}
.colpic{
     float: left;
}
.row{
    display: flex;
}
.pic{
    padding: 0%;
    width: 450px;
    height: 304px;
}
.sum{
    display: flex;
}
.one ,
.two,
.three {
    
    padding: 10px;
    margin: 10px;
}
.top{
    width: 700px;
}
.one{
    background-color: rgba(214, 194, 176, 0.727);
    
}
.two{
    background-color: rgba(220, 218, 214, 0.618);
 
  
}

.footer{
    color: crimson;
}
h1{
    color: rgb(123, 42, 13);
}
.aa,
.bb,
.cc {
    padding: 10px;
}
.aa{
  background-color: rgb(250, 236, 205);
}
.bb{
    background-color: rgb(246, 214, 171);
}
.cc{
    background-color: rgb(238, 196, 141);
}
.font{
    font-family: 'Kanit', sans-serif;
font-family: 'Rowdies', cursive;
}
h3{
    color: rgb(26, 3, 97);
    
}
.top{
    background-color: aliceblue;
}